<h1>Sign in With google</h1>
<asl-google-signin-button
  type="standard"
  size="medium"
  [width]="200"
  shape="circle"
  theme="filled_blue"
  *ngIf="!loggedIn"
></asl-google-signin-button>
<div *ngIf="loggedIn">
  <p>User ID : {{ user.id }}</p>
  <p>User ID Token: {{ user.idToken }}</p>
  <p>User email : {{ user.email }}</p>
  <p>First Name : {{ user.firstName }}</p>
  <p>Last Name : {{ user.lastName }}</p>
  <p>Full Name : {{ user.name }}</p>
  <p>Pic: <img [src]="user.photoUrl" alt="" /></p>
  <p>Provider: {{ user.provider }}</p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>
